@charset "ISO-8859-1";
#design {
	padding: 140px 500px;
	margin: auto;
		
}
table {
	border-collapse:collapse;
	box-shadow: 2px 3px 2px 3px rgb(0, 0, 0);
 
	border-radius: 3px;
	background-color: lemonchiffon;
}
 table tr,td{
	width: 100%;
}
table,td,th,tr {
	border: 1px solid black;
	text-align: center; 
	width: 100px;
}
table tr th{
	font-size: 25px;
}
th,td {
	padding: 5px;
	padding-left: 22px;
	padding-right: 22px;
	height: 10px;
	width: 120px;
}

td:hover {
	color: lightgoldenrodyellow;
	background-color: lightslategray;

}
a{
	text-decoration: none;
}
